@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body,
html,
* {
    margin: 0px;
    padding: 0px;
    /* background-color: #34353a; */
    color: #c1c1c179;
    font-family: "Poppins", sans-serif;
    box-sizing: content-box;
}

header {
    background-color: #686a74;
    border-bottom: solid 5px;
}

.nav {

    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.nav a {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 10px;
    border: solid 2px;
    color: #c1c1c1;
    text-decoration: none;
}

.nav :hover {
    scale: 1.1;
    color: #3b3b3b;
    color: #ffcf6c;


}

.presentation {

    margin-left: 10%;
    margin-top: 10%;

}

.presentation_container {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.titre h2,
h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.498);
}

.titre span {
    color: #ffcf6c;
    text-shadow: none;
}

.dev {

    display: flex;
    /* flex-wrap: wrap; */
    /* padding-left: 20%; */

}

.containerphotodev {
    display: flex;
}

.photodev {

    max-width: 100%;
    height: auto;
}

.icon-social {

    max-width: 20%;
    padding-right: 20%;
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.icon-1:hover {
    transform: scale(1.2);
}

.icon-2:hover {
    transform: scale(1.2);
}

#about {
    background-color: #3b3b3b;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    /* padding-left: 5%; */
    padding-top: 5%;
    /* text-align: center; */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.500);
}

.about_container {
    display: flex;
    align-items: center;
    flex-direction: column;

}

#about h2 {

    font-weight: 700;

}

#about p {
    padding-top: 5%;

    text-align: center;
    max-width: 70%;
    height: auto;
    font-size: 2em;

}

#about p span {
    font-weight: 600;
    color: #ffcf6c;
}


#skills {
    padding: 10% 10%;
    background-color: #3b3b3b;
    text-align: center;
    display: flex;
    flex-direction: column;

}

#skills div h2 {
    padding-top: 10px;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.500);
}

.logo {
    justify-content: baseline;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding: 5% 0 5% 0;
    gap: 5%;
}

.logo div {
    background-color: #686a74;
    padding: 3%;
    margin-top: 2%;
    width: 150px;
    height: auto;

    border-radius: 22px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.500);
}



#project {
    background-color: #3b3b3b;
    display: flex;

}

.project-icon {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.project-icon div {
    padding: 2%;
    border-radius: 15px;
    background-color: #686a74;
    margin-bottom: 5%;
}

.project-icon div:hover {
    scale: 1.05;
    color: aliceblue;
   background-color: #ffcf6c;
}

.project-icon a {
    color: #c1c1c179;
    text-decoration: none;
}


#project_container {

    align-items: center;
    display: flex;
    flex-direction: column;

}

#project_container h2 {
    padding-bottom: 5%;
    text-align: center;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.500);
}

#project_container h3 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.500);
    text-align: center;
    margin-bottom: 30px;
}


#contact {

    padding: 3%;
    gap: 5%;
    border-top: solid 3px;
    background-color: #686a74;
    display: flex;
    justify-content: center;
}

#contact a:hover {
    scale: 1.2;
}

#contact img:hover {
    scale: 1.2;
}



@media only screen and (max-width: 600px) {

    #about p {
        font-size: 1rem;
        /* Utilisez la valeur souhaitée pour la taille de police */
    }

    h2 {
        font-size: 1.3rem;
    }

    .project-icon {
        width: 100%;
    }

    .logo div {
        width: 100px;
        height: auto;
        margin-top: 5%;
    }

    .logo div svg {

        width: 50%;
    }

    .logo div h4 {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 322px) {

    .nav a {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 5px;
    border: solid 2px;
    color: #c1c1c1;
    font-size: 15px;
    text-decoration: none;
}

}